body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cursor-pointer {
    cursor: pointer;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.bg-phonepay {
    background-color: #663AB7 !important;
    color: white !important;
}


.app {
    height: 90vh;
    width: 20%;
    background-color: #fff;
    overflow: hidden;
    padding: 1rem;
}

/*          HEADER          */

.header {
    /* height: 0.1rem;
    width: 100%;
    background-color: rgba(0, 0, 0 , 0.1); */
    border-bottom: 0.1rem solid;
    border-color: rgba(0, 0, 0 , 0.1);
}

.header-child {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
/* .action-button {
    
} */
.primathon-logo img{
    width: 150px;
}


/*          AMOUNT - SECTION          */

.amount-section {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.currency span {
    padding: 0.1rem;
    border: 2px solid #004B8D;
    border-radius: 50%;
    color: goldenrod;
    font-size: 1rem;
    padding: 0.1rem;
}

.amount {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.amount .span-text {
    color: hwb(240 62% 26%);
}

.amount .span-amount {
    color: #004B8D;
    font-weight: bold;
}

/*          PAYMENT - METHODS           */

.payment-holder-container {
    background-color: #F8FAFD;
}

.payment-holder-container .heading {
    font-size: 1.4rem;
}
.payment-card {
    background-color: #004B8D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.payment-card .holder {
    display: flex;
    align-items: center;
    width: 80%;
}

.payment-method-name {
    font-size: 1.5rem;   
    margin-left: 1rem; 
}

.payment-method-logo {
    background-color: #fff;
    color: #004B8D;
    border-radius: 50%;
    padding: 0.5rem;
}
.cross {
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 2rem;
}














@media screen and (max-width: 992px) {
    .app {
        height: 100vh;
        width: 100%;
        background-color: #fff;
    }
}